<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap" rel="stylesheet">
    <title>Number-Bomb Game</title>

</head>

<body>
    <div class="main">
        <nav class="navbar bg-body-tertiary mb-3" data-bs-theme="dark">
            <div class="container-fluid">
                <h1 class="welcometitle">Number-Bomb Game!</h1>
                <a href="/back" class="btn btn-light btn-lg">HOME</a>
        </nav>
        <h5 class="briefexplain">*** Enter a number between 1 to 100 ***</h5>
        <h5 class="briefexplain">*** You have five chances to figure out the number ***</h5>

        {% if hint not in ["You got it!!!", "Sorry, Game Over!!"] %}
        <div class="hint">
            <div class="hint-content">
                <h2>{{ hint }}</h2>
            </div>
        </div>

        <form action="/guess" method="post" class="form1">
            <div class="">
                <label for="input_num" class="m-3">Try another number!</label>
                <input type="number" min="1" max="100" class="form-control-lg m-2 inputbox" name="input_num" required>
                <button type="submit" value="submitnumber" class="btn btn-outline-warning btn-lg">Bomb?</button>
            </div>
            <div class="mx-auto bomb2">
                <img class="img-bomb2" src="{{url_for('static', filename='img/giphy.gif')}}" alt="bomb2">
            </div>
            <h4>You have tried {{session['attemps']}} times! </h4>
        </form>

        {% elif hint == "Sorry, Game Over!!" %}

        <div class="hint-game-over">
            <div class="hint-content">
                <h2>{{ hint }}</h2>
                <div class="mx-auto p-2">
                    <a href="/reset" value="submitnumber" class="btn btn-light btn-lg">Play
                        Again</a>
                </div>
            </div>
        </div>


        {% else %}
        <div class="row">
            <div class="col explosion">
                <img class="img-explosion" src="{{url_for('static', filename='img/explosion.gif')}}" alt="explosion">
            </div>
            <div class="col hint-win">
                <div class="hint-content col">
                    <i class="fa fa-bomb icon m-3" style="font-size: 100px;"> </i>
                    <h2>{{ hint }}</h2>
                    <h4>Total number of attemps: {{session['attemps'] }} </h4>
                    <div class="winnername my-4 py-3">
                        <form action="/create" method="post">
                            <div class="mx-auto p-2">
                                <label for="name">What is you name?</label>
                                <input class="nameinput" type="text" name="name" required>
                                <button type="submit" class="btn btn-light">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="mx-auto p-2 m-3">
                        <a href="/reset" class="btn btn-light btn-lg">Play
                            Again</a>
                    </div>
                </div>
            </div>
            <div class="col explosion">
                <img class="img-explosion" src="{{url_for('static', filename='img/explosion.gif')}}" alt="explosion">
            </div>
        </div>
        {% endif %}
    </div>

</body>

</html>